h1 {
  font-size: 36px;
}

.error {
  background-color: whitesmoke;
  padding: 20px 50px 20px 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px #ffadd9;
  animation: shadow-pulse 2s infinite alternate;
}

.error_text {
  font-size: 18px;
}

.pic404 {
  width: 150px;
}
.come-back {
  display: none;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 20px rgba(255, 173, 217, 1);
  }

  100% {
    box-shadow: 0 0 70px rgba(255, 0, 217, 100);
  }
}

@media screen and (max-width: 425px) {
  .error_text {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    word-break: keep-all;
  }
  .pic404 {
    display: none;
  }
  .come-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: red;
  }
}
