#cart-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 1px lightgray;
  gap: 20px;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-actions {
  display: flex;
  gap: 8px;
}
.card-actions button {
  padding: 4px 8px;
  cursor: pointer;
}

.quantity,
.totalPriceText {
  padding: 15px 0 15px 0;
}
.deleteP {
  background-color: red;
  border: solid lightgray 1px;
  border-radius: 5px;
  width: 30%;
}
.add,
.less {
  background-color: greenyellow;
  text-align: center;
  border: solid lightgray 1px;
  border-radius: 5px;
  width: 100px;
}

.button:active,
.add:active,
.less:active {
  text-align: center;
  width: 100px;
  background-color: green;
  transform: translateY(10px);
}

.button:hover,
.add:hover,
.less:hover {
  text-align: center;
  width: 100px;
  background-color: green;
}

.deleteP:hover {
  background-color: crimson;
}
.deleteP:active {
  transform: translateY(10px);
}
