/* filter */
.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
select {
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
option {
  background-color: #fffafa;
  color: violet;
}

/* products */
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-even {
  background-color: #fffafa;
}

.card-odd {
  background-color: pink;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-title {
  font-size: 1.25em;
  margin-bottom: 10px;
}
.svg-candy {
  width: 100%;
}
.candy-pic-style {
  width: 100%;
  height: 150px;
  display: block;
}

@media screen and (max-width: 425px) {
  /* filter */
  .filter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  select {
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
  option {
    background-color: #fffafa;
    color: violet;
  }
  /* products */
  .product-grid {
    display: flex;
    flex-direction: column;
  }
}
