.h2 {
  padding-top: 40px;
  text-align: center;
  color: red;
  font-size: 35px;
}
hr {
  margin: 0 25% 0 25%;
  color: red;
}
.box-_form {
  display: flex;
  justify-content: center;
}
.container_form {
  background-color: white;
  box-shadow: 0 10px 5px 1px lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}
.header_section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.data-user,
.psw-user {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-wrapper {
  display: flex;
  gap: 10px;
}

input{
  background-color: #fffafa;
  border: solid gray 1px;
  border-radius: 10px;
  height: 40px;
}

.toggle-password {
  cursor: pointer;
}

.navigate {
  display: flex;
  flex-direction: column;
}
.a{
  color: red;
  text-decoration: none;
}
.a:hover{
  color: blueviolet;
}
