#favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.favorite-card {
  text-align: center;
  padding: 50px 50px 50px 50px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.favorite-card.even {
  background-color: #fffafa;
}

.favorite-card.odd {
  background-color: #ffadd9;
}

.favorite-content {
  display: flex;
  flex-direction: column;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.delete-button:active{
  transform: translateY(-10px);
}

.svgFavorite {
  width: 100%;
}
