.nav-style {
  background-color: #ffadd9;
  box-shadow: 0 0 20px 1px gray;
  display: flex;
  justify-content: center;
}

.link-style {
  padding: 0 40px;
  position: relative;
}

.link-style:hover {
  color: white;
}

.link-style::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -5px;
  width: 50%;
  height: 3px;
  background-color: red;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-style:hover::after {
  transform: scaleX(1);
}

.link-style {
  text-decoration: none;
  color: black;
}
