/* general CSS for the home.php page */
body {
  display: flex;
  flex-direction: column;
}

/* .lastout {
    
} */

.loved {
  background-color: #ffffff;
}

/* .news {
} */

.user-name {
  text-align: center;
  padding: 100px;
}
