body {
  display: flex;
  flex-direction: column;
}

.user-name {
  text-align: center;
  padding: 100px;
}

/* PART : last product add in database */
.lastOut-laptop {
  margin-top: 50px;
  display: block;
}
.lastOut-mobile {
  display: none;
}

.slider {
  position: relative;
  width: 100%;
  height: 370px;
  display: flex;
}

.item {
  position: absolute;
  width: 200px;
  height: 320px;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  background-color: #ffadd9;
}

#next,
#prev {
  position: absolute;
  top: 30%;
  color: red;
  background-color: transparent;
  border: none;
  font-weight: bold;
  left: 50px;
  width: 100px;
  height: 100px;
}

#next {
  left: unset;
  right: 50px;
}

#prev:hover,
#next:hover {
  background-color: #ffadd9;
  box-shadow: 0 0 10px 10px #ffadd9;
  border-radius: 100px;
}

#prev:active {
  transform: translateX(-20px);
}

#next:active {
  transform: translateX(20px);
}

/* PART : loved product (random product each F5) */

.loved {
  background-color: #ffffff;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.card_style {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 1px lightgray;
  border-radius: 10px;
}

.card-color-1 {
  background-color: #fffafa; /* Color 1 */
}

.card-color-2 {
  background-color: #ffadd9; /* Color 2 */
}

.card-title {
  font-size: 50px;
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pic {
  width: 100%;
}

@media screen and (max-width: 425px) {
  /* PART : last product add in database */
  .lastOut-mobile {
    display: block;
  }
  .lastOut-laptop {
    display: none;
  }

  /* PART : loved product (random product each F5) */
  .loved {
    background-color: #ffffff;
  }

  .grid-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  /* part news */
  .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .pic {
    width: 100%;
  }
  .card-color-1 {
    background-color: #fffafa; /* Color 1 */
  }

  .card-color-2 {
    background-color: #ffadd9; /* Color 2 */
  }
}
