/* CSS for slider in home.php */
.slider {
  position: relative;
  width: 100%;
  height: 370px;
  display: flex;
}

.item {
  position: absolute;
  width: 200px;
  height: 320px;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  background-color: #ffadd9;
}

#next,
#prev {
  position: absolute;
  top: 30%;
  color: red;
  background-color: transparent;
  border: none;
  font-weight: bold;
  left: 50px;
}

#next {
  left: unset;
  right: 50px;
}

#prev:hover,
#next:hover {
  background-color: #ffadd9;
  box-shadow: 0 0 10px 10px #ffadd9;
  border-radius: 100px;
}

#prev:active {
  transform: translateX(-20px);
}

#next:active {
  transform: translateX(20px);
}